@import '../tokens/typography';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: unset;
  font-family: $font-family;
}

html {
  color: $color-gray-text-default;
  line-height: $line-height-medium;
  font-size: 10px;
}
